<br>

<div class="row delete-right-margin">
    <div *ngFor="let movie of movies | async">
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img src="{{movie.image}}" class="card-img-top" alt="sin imagen">
                <div class="card-body">
                    <h5 class="card-title"><b>{{movie.name}}</b></h5>
                    <!-- <p class="card-text text-dark"> <b>Fecha de salida: </b>{{movie.releaseDate}}</p> -->
                    <p class="card-text text-dark"><b>Sinopsis: </b>{{movie.synopsis}}</p>
                    <p class="card-text text-dark"><b>Tags: </b>{{movie.tags}}</p>
                    <button type="button" class="btn btn-primary" (click)="addToFavs(movie.id)" *ngIf="true">FAV</button>
                    <button type="button" class="btn btn-danger" (click)="deleteFromFavs(movie.id)" *ngIf="true">UNFAV</button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>