.delete-right-margin {
    margin-right: 0;
}

.center{
    display: block;
    margin: auto;
}

.image{
    background-size:cover; width:auto;
    background-image:url('https://i.pinimg.com/originals/de/9e/2e/de9e2e2e7cf5d9c1faa0950e69878422.jpg');
    background-repeat: repeat-y;
  }